* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo de proyecto  */

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/OIP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Creacion del Tv  */
#princ {
  display: grid;
  max-width: 85vw;
  grid-template-columns: 4fr 1fr;
  gap: 10%;
  margin-inline: auto;
  container-type: inline-size;
  margin-top: 2em;
}

#pantalla {
    width: 100%;
    padding: 1em;
    padding-bottom: 4em;
    background-color: black;
    position: relative;
}

/* Marca */

#marca {
    position: absolute;
    top: 93.75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
}

/* Sección de pantalla  */
#sizeTv {
    width: 100%;
    height: 0;
    padding-bottom: calc((9/16) * 100%);
    background-color: rgb(14, 11, 11);
    position: relative;
    overflow: hidden;
}

#sizeTv img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* hacer responsive la pantalla  */

@media screen and (max-width: 768px) {
    #princ {
        grid-template-columns: 1fr;
    }
    #pantalla,
    #sizeTv {
        width: 100%;
        padding: 0.5em;
    }
    #sizeTv {
        padding-bottom: calc((9/16) * 100%);
    }
}

/* Control Remoto  */
 .anchoMando {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
 }

 .mando{
    margin: 0;
    padding: 0;
    gap: 0.2em;
    width: 12em;
    height: 42em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2em solid black;
    background-color: rgb(50, 50, 50);
    border-radius: 1em 1em 5em 5em;
 }

 #controller{
    margin-top: 4em;
 }

 /* control sección superior */
 .mandoSup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0 1.5em;
 }

 /* Botones de encendido y apagado */
 #btnOnOff {
    background-image: url(../img/on3.png);
    background-size: cover;
 }

 /* Boton de Mute */
 #btnMute{
    background-image: url(../img/sile2.png);
    background-size: cover;
 }

 /* Estilo general para botones  */

 .chanBtn {
    height: 1.5em;
    width: 1.5em;
    box-shadow: 0px 0px 0px 0px rgba(112,111,112,1);
 }

 .chanBtn:hover {
    scale: 0.9;
    box-shadow: 0px 0px 0px 0px rgb(104, 104, 104);
 }

 .chanBtn {
    background-color: darkgray;
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    box-shadow: inset -1px -1px 5px 1px rgb(95, 95, 95);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;

 }

 .chanBtn:active{
    scale: 0.9;
    box-shadow: 0px 0px 5px 1px rgb(104, 104, 104);
 }


 /* Seccion que separa una linea de otra  */
 .sectionSep {
    height: 0.3em;
    color: white;
 }

 /* sección de los canales */

 .mandoInf {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1.5em 1em;
 }

 #channelInfo {
    background-image: url(../img/info1.png);
    background-size: cover;
    background-position: center;
 }

 #channelBack {
    background-image: url(../img/back1.jpg);
 }


 /* Sección para volumen y cambio de canal  */

 .mandoMed {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    padding: 1em 0;
 }

 .middleBut {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
 }

 /* Sección de botones en cruz */
 #btnUp {
    background-image: url(../img/up.jpg);
    background-size: cover;
 }

 #btnLeft {
    background-image: url(../img/left.jpg);
    background-size: cover;
 }

 #btnRight{
    background-image: url(../img/rigth.jpg);
    background-size: cover;
 }

 #btnDown{
    background-image: url(../img/down.jpg);
    background-size: cover;
 }

 #btnOK {
    background-image: url(../img/ok.jpg);
    background-size: cover;
 }


 /* Sección de canales extra */

 .rectangulo {
    border-radius: .5em;
    height: 1.6em;
    width: 4em;
 }

 .redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1.5em 1em;   
 }

 #netflix {
    background-image: url(../img/netflixLogo.jpg);
    background-size: cover;
    background-position: center;
 }

 #disney {
    background-image: url(../img/disneyLogo.jpg);
    background-size: cover;
    background-position: center;
 }

 #prime {
    background-image: url(../img/prime.jpg);
    background-size: cover;
    background-position: center;
 }

 #Pluto{
    background-image: url(../img/pluto.jpg);
    background-size: 100% 100%;
    background-position: center;
 }

 /* apariencia de los botones */
 .button {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 0.5em;

 }
 