* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo de proyecto  */

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/OIP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Creacion del Tv  */
#princ {
  display: grid;
  max-width: 85vw;
  grid-template-columns: 4fr 1fr;
  gap: 10%;
  margin-inline: auto;
  container-type: inline-size;
  margin-top: 2em;
}

#pantalla {
    width: 100%;
    padding: 1em;
    padding-bottom: 4em;
    background-color: black;
    position: relative;
}

/* Marca */

#marca {
    position: absolute;
    top: 93.75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
}

/* Secci贸n de pantalla  */
#sizeTv {
    width: 100%;
    height: 0;
    padding-bottom: calc((9/16) * 100%);
    background-color: rgb(14, 11, 11);
    position: relative;
    overflow: hidden;
}

#sizeTv img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* hacer responsive la pantalla  */

@media screen and (max-width: 768px) {
    #princ {
        grid-template-columns: 1fr;
    }
    #pantalla,
    #sizeTv {
        width: 100%;
        padding: 0.5em;
    }
    #sizeTv {
        padding-bottom: calc((9/16) * 100%);
    }
}

/* Control Remoto  */
 .anchoMando {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
 }

 .mando{
    margin: 0;
    padding: 0;
    gap: 0.2em;
    width: 12em;
    height: 42em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2em solid black;
    background-color: rgb(50, 50, 50);
    border-radius: 4em 4em 5em 5em;
 }

 /* control secci贸n superior */
 .mandoSup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0 1.5em;
 }

 /* Botones de encendido y apagado */
 #btnOnOff {
    background-image: url(../img/on3.png);
    background-size: cover;
 }

 /* Boton de Mute */
 #btnMute{
    background-image: url(../img/sile2.png);
    background-size: cover;
 }

 /* Estilo general para botones  */

 .chanBtn {
    height: 1.5em;
    width: 1.5em;
    box-shadow: 0px 0px 0px 0px rgba(112,111,112,1);
 }

 /* Seccion que separa una linea de otra  */
 .sectionSep {
    height: 0.3em;
    color: white;
 }

 /* secci贸n de los canales */

 .mandoInf {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1.5em 1em;
 }

 /* Secci贸n para volumen y cambio de canal  */

 .mandoMed {
    
 }